
$breakpoint-xlg = 1740px
$breakpoint-lg = 1440px
$breakpoint-md = 1200px
$breakpoint-sm = 992px
$breakpoint-xs = 768px
$breakpoint-xxs = 480px

$small-text = 0.7rem
$medium-text = 0.875rem
$default-text = 1rem

$regular = 'regular'
$medium = 'medium'
$semibold = 'bold'

$color-black = #2b2b2b
$color-primary = #0e3b43
$color-theme = #a3c4bc
$color-background = #bfd7b5
$color-accent = #330f0a
$color-prompt = #6a041d

$z-index-modal = 99
$z-index-nav = 97

$border-color = #5a5a5a
$border-radius-lg = 1.5rem
$border-radius-md = 0.5rem
$border-radius-sm = 0.25rem

$box-shadow-default = 0 0 0.5rem rgba($color-black, 0.5)

$transition-speed = 0.4s

$base-icon-url = '~/assets/icons/'
$default-format = 'svg'

$header-height = 80px
$footer-height = 120px