:root
  --primary #1d3666
  --background #ffffff
  --card-bg #edf7ff
  --text-primary #1d3666
  --text-regular #000000
  --text-button #ffffff
  --text-grey #787777
  --icons-primary #1d3666
  --icons-secondary #000000
  --icons-hint #ffffff
  --button-text-size 1.125rem  /* 18/16 */

$breakpoint-xlg = 1740px
$breakpoint-lg = 1440px
$breakpoint-md = 1200px
$breakpoint-sm = 992px
$breakpoint-xs = 768px
$breakpoint-xxs = 480px

$small-text = 0.7rem
$medium-text = 0.875rem
$default-text = 1rem

$regular = 'regular'
$medium = 'medium'
$semibold = 'bold'

$color-text-main = #2b2b2b
$color-text-sub = #747474
$color-text-alt = #fcfcfc
$color-text-grey = #929292
$color-text-hint = #787777

$color-border-main = #808080
$color-border-light = #cecece

$z-index-modal = 99
$z-index-nav = 97

$border-radius-lg = 1.5rem
$border-radius-md = 0.5rem
$border-radius-sm = 0.25rem

$box-shadow-default = 0.25rem 0.25rem 0.5rem rgba($color-border-main, 0.4)

$transition-speed = 0.4s

$base-icon-url = '~/assets/icons/'
$default-format = 'svg'