html
body
  min-width $breakpoint-xxs
  font-size 16px
  font-family 'Poppins', sans-serif
  scrollbar()

h1, h2, h3, h4, h5, p
  margin 0
h1
  font-size 3em
h2
  font-size 2.75em
h3
  font-size 1.6875rem
  font-weight 600
h4
  font-size 1.2rem
  color var(--v-theme-primary)
h5
  font-size 0.9rem


.container
  $padding = 2rem
  max-width $breakpoint-md
  margin auto
  +media-screen($max:$breakpoint-md, $gutter: $padding)
    padding 0 $padding